In [101]:
# Q.1.Write a program to reverse a string.
#Function to reverse a string
def reversed_string(input_string):
    #using string slicing to reverse the string
    reversed_string=input_string[::-1]
    return reversed_string

In [102]:
#input string from the user
input_string=input("enter the string:")

enter the string: sonu is the best coder

In [37]:
#call the function to reverse the string
reversed_result=reversed_string(input_string)

In [38]:
#display the reversed string
print("reversed_string:",reversed_result)

reversed_string: redoc tseb eht si unos

In [103]:
#Q.2.Check if a string is a palindrome.
#Input string from the user
input_string=input("enter the string:")

enter the string: world is so big

In [40]:
#remove spaces and convert to lowercase for case insensitive comparision
clean_string=' '.join(input_string.split()).lower()

In [41]:
#check if the cleaned string is equal to its reversed
if clean_string==clean_string[::-1]:
    print("it is a palindrome")
else:
    print("it is not a palindrome")

it is not a palindrome

In [42]:
#Q.3.convert string in uppercase
input_string=input("enter the string:")

enter the string: world is filled with water

In [43]:
#Convert the string into upper case
upper_case=str.upper(input_string)

In [44]:
print("input_string:",upper_case)

input_string: WORLD IS FILLED WITH WATER

In [45]:
#Q.4.convert string in lowercase
input_string=input("enter the string:")

enter the string: we can't live without oxygen

In [46]:
lower_case=str.lower(input_string)

In [47]:
print("input_string:",lower_case)

input_string: we can't live without oxygen

In [48]:
#Q.5.count the number of vowels in string
user_input=('enter the sentence')

In [49]:
#convert the input sentence to lowercase to handle both uppercase and lowercase vowels
user_input=user_input.lower()

In [50]:
#initialize a variable to count vowels
vowel_count=0

In [51]:
#define a set of vowels
vowels='aeiou'

In [52]:
#loop through each character in the sentence
for char in user_input:
    #check if the character is vowel
    if char in vowels:
        vowel_count+=1

In [53]:
#display the vowel count
print("number of vowels in sentence:",vowel_count)

number of vowels in sentence: 6

In [87]:
#Q.6.count the number of consonant in string
def count_consonants(inupt_string):
    #define a set of consonant letters
    consonants ="ahdibviaoorybkvruri"

In [88]:
#initialize a counter for consonant
count=0

In [89]:
#iterate through each character in string
for char in input_string:
    #check if the character is in the consonant set
    if char .isalpha() and char not in "aeiouAEIOU":
        count+=1

In [90]:
#example usage
input_string="HELLO WORLD"
result=count_consonant(input_string)
print('number of consonant:',result)

number of consonant: None

In [91]:
#Q.7.Remove all whitespaces from a string.
def remove_whitespace(input_string):
     # Use str.replace() to replace all whitespaces with an empty string
        return input_string.replace(" ", "")

In [92]:
# Example usage:
input_string = "Hello  World"
result = remove_whitespace(input_string)
print("String with whitespaces removed:", result)

String with whitespaces removed: HelloWorld

In [104]:
#Q.8. Find the length of a string without using the `len()` function.
def calculate_length(input_string):
    length = 0
    for _ in input_string:
        length += 1
    return length

# Example usage:
input_string = "Hello, World!"
string_length = calculate_length(input_string)

print(f"The length of the string is: {string_length}")

The length of the string is: 13

In [99]:
#Q.9. Check if a string contains a specific word.
def contains_word(input_string, word):
    return word in input_string

In [100]:
# Example usage:
input_string = "This is a sample sentence."
word_to_find = "sample"
if contains_word(input_string, word_to_find):
    print(f"The string contains the word '{word_to_find}'.")
else:
    print(f"The string does not contain the word '{word_to_find}'.")

The string contains the word 'sample'.

In [101]:
#Q.10. Replace a word in a string with another word.
def replace_word(input_string, old_word, new_word):
    # Use str.replace() to replace the old_word with the new_word
    return input_string.replace(old_word, new_word)

In [102]:
# Example usage:
input_string = "Hello, World! This is a sample sentence."
old_word = "sample"
new_word = "example"
result = replace_word(input_string, old_word, new_word)
print("Updated string:", result)

Updated string: Hello, World! This is a example sentence.

In [103]:
#Q.11. Count the occurrences of a word in a string.
def count_word_occurrences(input_string, word):
    # Use str.count() to count occurrences of the word
    return input_string.count(word)

In [104]:
# Example usage:
input_string = "This is a sample sentence. This sample sentence is an example."
word_to_count = "sample"
count = count_word_occurrences(input_string, word_to_count)
print(f"The word '{word_to_count}' appears {count} times in the string.")

The word 'sample' appears 2 times in the string.

In [105]:
#Q.12. Find the first occurrence of a word in a string.
def find_first_occurrence(input_string, target_word):
    index = input_string.find(target_word)
    return index

# Example usage:
input_string = "This is a sample sentence. This sentence contains sample words."
target_word = "sample"

first_occurrence_index = find_first_occurrence(input_string, target_word)

if first_occurrence_index != -1:
    print(f"The first occurrence of '{target_word}' starts at index {first_occurrence_index}.")
else:
    print(f"'{target_word}' not found in the string.")

The first occurrence of 'sample' starts at index 10.

In [106]:
#Q.13. Find the last occurrence of a word in a string.
def find_last_occurrence(input_string, target_word):
    index = input_string.rfind(target_word)
    return index

# Example usage:
input_string = "This is a sample sentence. This sentence contains sample words. Sample is the last word."
target_word = "sample"

last_occurrence_index = find_last_occurrence(input_string, target_word)

if last_occurrence_index != -1:
    print(f"The last occurrence of '{target_word}' starts at index {last_occurrence_index}.")
else:
    print(f"'{target_word}' not found in the string.")

The last occurrence of 'sample' starts at index 50.

In [31]:
#Q.14. Split a string into a list of words.
# Input string
input_string = "This is a sample sentence."

In [32]:
# Split the string into a list of words
word_list = input_string.split()

In [33]:
# Print the list of words
print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

In [37]:
#Q.15. Join a list of words into a string.
# List of words
word_list = ['This', 'is', 'a', 'sample', 'sentence.']

In [38]:
# Join the list of words into a string with a space as a separator
result_string = ' '.join(word_list)

In [39]:
# Print the result
print(result_string)

This is a sample sentence.

In [40]:
#Q.16. Convert a string where words are separated by spaces to one where words are separated by underscores.
# Input string with spaces
input_string = "This is a sample string with spaces."

In [41]:
# Replace spaces with underscores
result_string = input_string.replace(" ", "_")

In [42]:
# Print the result
print(result_string)

This_is_a_sample_string_with_spaces.

In [43]:
#Q.17. Check if a string starts with a specific word or phrase.
# Input string
input_string = "Hello, World! This is a sample string."

In [44]:
# Prefix to check
prefix_to_check = "Hello"

In [45]:
# Check if the string starts with the specified prefix
starts_with_prefix = input_string.startswith(prefix_to_check)

In [46]:
# Print the result
if starts_with_prefix:
    print(f"The string starts with '{prefix_to_check}'.")
else:
    print(f"The string does not start with '{prefix_to_check}'.")

The string starts with 'Hello'.

In [47]:
#Q.18. Check if a string ends with a specific word or phrase.
# Input string
input_string = "This is a sample string. It ends with 'example'."

In [48]:
# Suffix to check
suffix_to_check = "example'."

In [49]:
# Check if the string ends with the specified suffix
ends_with_suffix = input_string.endswith(suffix_to_check)

In [50]:
# Print the result
if ends_with_suffix:
    print(f"The string ends with '{suffix_to_check}'.")
else:
    print(f"The string does not end with '{suffix_to_check}'.")

The string ends with 'example'.'.

In [51]:
#Q.19. Convert a string to title case (e.g., "hello world" to "Hello World").
# Input string
input_string = "hello world"

In [52]:
# Convert the string to title case
title_case_string = input_string.title()

In [53]:
# Print the result
print(title_case_string)

Hello World

In [54]:
#Q.20. Find the longest word in a string.
# Input string
input_string = "This is a sample sentence with some long words."

In [55]:
# Split the string into words
words = input_string.split()

In [57]:
# Initialize variables to store the longest word and its length
longest_word = ""
max_length = 0

In [59]:
# Iterate through the words to find the longest word
for word in words:
    # Remove punctuation from the word (optional)
    word = word.strip(".,!?")

In [60]:
if len(word) > max_length:
    max_length = len(word)
    longest_word = word

In [61]:
# Print the longest word
print(f"The longest word is: {longest_word}")

The longest word is: words

In [62]:
#Q.21. Find the shortest word in a string.
# Input string
input_string = "This is a sample sentence with some short and long words."

In [63]:
# Input string
input_string = "This is a sample sentence with some short and long words."

In [64]:
# Initialize variables to store the shortest word and its length
shortest_word = None
min_length = float('inf')  # Initialize with positive infinity

In [65]:
# Iterate through the words to find the shortest word
for word in words:
    # Remove punctuation from the word (optional)
    word = word.strip(".,!?")

In [66]:
if len(word) < min_length:
    min_length = len(word)
    shortest_word = word

In [67]:
# Print the shortest word
if shortest_word is not None:
    print(f"The shortest word is: {shortest_word}")
else:
    print("No words found in the input string.")

The shortest word is: words

In [68]:
#Q.22. Reverse the order of words in a string.
# Input string
input_string = "This is a sample sentence."

In [69]:
# Split the string into words
words = input_string.split()

In [70]:
# Reverse the order of words
words.reverse()

In [71]:
# Join the words back together
reversed_string = " ".join(words)

In [72]:
# Print the reversed string
print(reversed_string)

sentence. sample a is This

In [73]:
#Q.23. Check if a string is alphanumeric.
# Input string
input_string = "Hello123"

In [74]:
# Check if the string is alphanumeric
is_alphanumeric = input_string.isalnum()

In [75]:
# Print the result
if is_alphanumeric:
    print(f"The string '{input_string}' is alphanumeric.")
else:
    print(f"The string '{input_string}' is not alphanumeric.")

The string 'Hello123' is alphanumeric.

In [78]:
#Q.24. Extract all digits from a string.
import re

In [79]:
# Input string
input_string = "Hello123World456"

In [80]:
# Use regular expression to extract digits
digits = re.findall(r'\d', input_string)

In [81]:
# Join the extracted digits into a string
result = ''.join(digits)

In [82]:
# Print the result
print(f"The extracted digits are: {result}")

The extracted digits are: 123456

In [83]:
#Q.25. Extract all alphabets from a string.
# Input string
input_string = "Hello123World"

In [84]:
# Initialize an empty string to store the extracted alphabets
extracted_alphabets = ''

In [85]:
# Iterate through the characters in the input string
for char in input_string:
    if char.isalpha():
        extracted_alphabets += char

In [86]:
# Print the extracted alphabets
print(f"The extracted alphabets are: {extracted_alphabets}")

The extracted alphabets are: HelloWorld

In [13]:
#Q.26. Count the number of uppercase letters in a string.
def count_uppercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.isupper():
            count += 1
        return count

In [14]:
#initialize the string and count the number of uppercase
input_string = "Hello World"
uppercase_count = count_uppercase_letters(input_string)
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 1

In [15]:
#Q.27. Count the number of lowercase letters in a string.
def count_lowercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.islower():
            count += 1
    return count

In [16]:
input_string = "Hello World"
lowercase_count = count_lowercase_letters(input_string)
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 8

In [17]:
#Q.28. Swap the case of each character in a string.
def swap_case(input_string):
    return input_string.swapcase()

In [18]:
input_string = "Hello World"
swapped_string = swap_case(input_string)
print("Swapped string:", swapped_string)

Swapped string: hELLO wORLD

In [19]:
#Q.29. Remove a specific word from a string.
def remove_word(input_string, word_to_remove):
    # Replace the word with an empty string to remove it
    return input_string.replace(word_to_remove, "")

In [20]:
input_string = "This is a sample sentence. Remove this word."
word_to_remove = "word"
new_string = remove_word(input_string, word_to_remove)
print("Modified string:", new_string)

Modified string: This is a sample sentence. Remove this .

In [109]:
#Q.30. Check if a string is a valid email address.
import re

def is_valid_email(email):
    # Define a regular expression pattern for valid email addresses
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    
    # Use re.match to check if the string matches the pattern from the beginning
    if re.match(pattern, email):
        return True
    else:
        return False

# Example usage:
email_address = "example.user@email.com"
if is_valid_email(email_address):
    print(f"'{email_address}' is a valid email address.")
else:
    print(f"'{email_address}' is not a valid email address.")

'example.user@email.com' is a valid email address.

In [108]:
#Q.31. Extract the username from an email address string.
import re

def extract_username_from_email(email):
    # Define a regular expression pattern to match email addresses
    pattern = r'([^@]+)@'
    
    # Use re.search to find the username part
    match = re.search(pattern, email)
    
    if match:
        return match.group(1)  # Return the matched username
    else:
        return None  # Return None if no username is found

# Example usage:
email_address = "example.user@email.com"
username = extract_username_from_email(email_address)

if username:
    print(f"The username in the email address is: {username}")
else:
    print("No username found in the email address.")

The username in the email address is: example.user

In [107]:
#Q.32. Extract the domain name from an email address string.
import re

def extract_domain_from_email(email):
    # Define a regular expression pattern to match email addresses
    pattern = r'@([A-Za-z0-9.-]+)'
    
    # Use re.search to find the domain part
    match = re.search(pattern, email)
    
    if match:
        return match.group(1)  # Return the matched domain
    else:
        return None  # Return None if no domain is found

# Example usage:
email_address = "example.user@email.com"
domain = extract_domain_from_email(email_address)

if domain:
    print(f"The domain name in the email address is: {domain}")
else:
    print("No domain found in the email address.")

The domain name in the email address is: email.com

In [40]:
#Q.33. Replace multiple spaces in a string with a single space.
import re

In [41]:
def replace_multiple_spaces(input_string):
    # Use regular expression to replace multiple spaces with a single space
    return re.sub(r'\s+', ' ', input_string)

In [42]:
# Test the function with a string containing multiple spaces
input_string = "This    is   a    string   with   multiple   spaces."
modified_string = replace_multiple_spaces(input_string)
print("Modified string:", modified_string)

Modified string: This is a string with multiple spaces.

In [43]:
#Q.34. Check if a string is a valid URL.
from urllib.parse import urlparse

In [44]:
def is_valid_url(url):
    try:
        parsed_url = urlparse(url)
        return all([parsed_url.scheme, parsed_url.netloc])
    except ValueError:
        return False

In [45]:
# Test the function with a URL
url = "https://www.example.com"
if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

https://www.example.com is a valid URL.

In [46]:
#Q.35. Extract the protocol (http or https) from a URL string.
from urllib.parse import urlparse

In [47]:
def extract_protocol(url):
    try:
        parsed_url = urlparse(url)
        return parsed_url.scheme
    except ValueError:
        return None

In [48]:
# Test the function with a URL
url = "https://www.example.com"
protocol = extract_protocol(url)

In [49]:
if protocol:
    print(f"The protocol is: {protocol}")
else:
    print("Invalid URL or no protocol found.")

The protocol is: https

In [16]:
#Q.36. Find the frequency of each character in a string.
from collections import Counter

In [17]:
# Input string
input_string = "Hello, World!"

In [18]:
# Use Counter to count character frequencies
frequency_dict = Counter(input_string)

In [19]:
# Display the character frequencies
for char, count in frequency_dict.items():
    print(f"Character '{char}' appears {count} times")

Character 'H' appears 1 times
Character 'e' appears 1 times
Character 'l' appears 3 times
Character 'o' appears 2 times
Character ',' appears 1 times
Character ' ' appears 1 times
Character 'W' appears 1 times
Character 'r' appears 1 times
Character 'd' appears 1 times
Character '!' appears 1 times

In [100]:
#Q.37. Remove all punctuation from a string.
import string
import re

def remove_punctuation(input_string):
    # Remove punctuation using the translate method
    translator = str.maketrans('', '', string.punctuation)
    cleaned_string = input_string.translate(translator)

    # Alternatively, you can use regular expressions to remove punctuation
    # cleaned_string = re.sub(r'[^\w\s]', '', input_string)

    return cleaned_string

# Example usage:
input_string = "Hello, world! This is an example string with punctuation."

cleaned_string = remove_punctuation(input_string)
print("String with punctuation removed:")
print(cleaned_string)

String with punctuation removed:
Hello world This is an example string with punctuation

In [32]:
#Q.38. Check if a string contains only digits.
# Function to check if a string contains only digits
def contains_only_digits(input_string):
    return input_string.isdigit()

In [33]:
# Input string
input_string = "12345"

In [34]:
# Check if the string contains only digits
if contains_only_digits(input_string):
    print("The string contains only digits.")
else:
    print("The string contains non-digit characters.")

The string contains only digits.

In [35]:
#Q.39. Check if a string contains only alphabets.
# Function to check if a string contains only alphabets
def contains_only_alphabets(input_string):
    return input_string.isalpha()

In [36]:
# Input string
input_string = "HelloWorld"

In [37]:
# Check if the string contains only alphabets
if contains_only_alphabets(input_string):
    print("The string contains only alphabets.")
else:
    print("The string contains non-alphabetic characters.")

The string contains only alphabets.

In [38]:
#Q.40. Convert a string to a list of characters.
# Function to convert a string to a list of characters
def string_to_list(input_string):
    char_list = []
    for char in input_string:
        char_list.append(char)
    return char_list

In [39]:
# Input string
input_string = "Hello, World!"

In [40]:
# Convert the string to a list of characters
char_list = string_to_list(input_string)

In [41]:
# Print the list of characters
print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [99]:
#Q.41. Check if two strings are anagrams.
def are_anagrams(str1, str2):
    # Remove spaces and convert both strings to lowercase
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    
    # Check if the lengths of the two strings are equal
    if len(str1) != len(str2):
        return False
    
    # Create dictionaries to store character counts for each string
    char_count1 = {}
    char_count2 = {}
    
    # Count the characters in the first string
    for char in str1:
        char_count1[char] = char_count1.get(char, 0) + 1
    
    # Count the characters in the second string
    for char in str2:
        char_count2[char] = char_count2.get(char, 0) + 1
    
    # Compare the character counts
    return char_count1 == char_count2

# Example usage:
string1 = "listen"
string2 = "silent"

if are_anagrams(string1, string2):
    print(f"'{string1}' and '{string2}' are anagrams.")
else:
    print(f"'{string1}' and '{string2}' are not anagrams.")

'listen' and 'silent' are anagrams.

In [98]:
#Q.42. Encode a string using a Caesar cipher.
def caesar_cipher_encode(input_string, shift):
    encoded_string = ""
    
    for char in input_string:
        # Check if the character is a letter
        if char.isalpha():
            # Determine if the character is uppercase or lowercase
            is_upper = char.isupper()
            
            # Convert the character to lowercase for easier manipulation
            char = char.lower()
            
            # Perform the Caesar cipher shift
            encoded_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            
            # If the original character was uppercase, convert the encoded character to uppercase
            if is_upper:
                encoded_char = encoded_char.upper()
            
            encoded_string += encoded_char
        else:
            # If the character is not a letter, add it to the encoded string unchanged
            encoded_string += char
    
    return encoded_string

# Example usage:
input_string = "This is a secret message. This is a secret key."
shift = 3  # The number of positions to shift the characters in the alphabet

encoded_string = caesar_cipher_encode(input_string, shift)
print("Encoded string:")
print(encoded_string)

Encoded string:
Wklv lv d vhfuhw phvvdjh. Wklv lv d vhfuhw nhb.

In [97]:
#Q.43. Decode a Caesar cipher encoded string.
def caesar_cipher_decode(encoded_string, shift):
    decoded_string = ""
    
    for char in encoded_string:
        # Check if the character is a letter
        if char.isalpha():
            # Determine if the character is uppercase or lowercase
            is_upper = char.isupper()
            
            # Convert the character to lowercase for easier manipulation
            char = char.lower()
            
            # Perform the reverse Caesar cipher shift
            decoded_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            
            # If the original character was uppercase, convert the decoded character to uppercase
            if is_upper:
                decoded_char = decoded_char.upper()
            
            decoded_string += decoded_char
        else:
            # If the character is not a letter, add it to the decoded string unchanged
            decoded_string += char
    
    return decoded_string

# Example usage:
encoded_string = "Wklv lv d whvw phvvdjh vwruob whvw d phvvdjh. Wklv lv d whvw xpsk whvw uhdph."
shift = 3  # The number of positions the characters were shifted during encoding

decoded_string = caesar_cipher_decode(encoded_string, shift)
print("Decoded string:")
print(decoded_string)

Decoded string:
This is a test message storly test a message. This is a test umph test reame.

In [96]:
#Q.44. Find the most frequent word in a string.
def most_frequent_word(input_string):
    # Tokenize the string into words
    words = input_string.split()
    
    # Create a dictionary to store word frequencies
    word_freq = {}
    
    # Iterate through the words and update frequencies
    for word in words:
        word = word.lower()  # Convert to lowercase for case-insensitive counting
        word_freq[word] = word_freq.get(word, 0) + 1
    
    # Find the word with the highest frequency
    most_frequent = max(word_freq, key=word_freq.get)
    
    return most_frequent

# Example usage:
input_string = "This is a sample string. This string contains sample words, and some words may repeat."
most_freq_word = most_frequent_word(input_string)

print(f"The most frequent word in the string is: {most_freq_word}")

The most frequent word in the string is: this

In [91]:
#Q.45. Find all unique words in a string.
import re

def find_unique_words(input_string):
    # Use regular expressions to split the string into words
    words = re.findall(r'\b\w+\b', input_string.lower())

    # Create a set to store unique words
    unique_words = set(words)

    return unique_words

# Example usage:
input_string = "This is a sample string. It contains sample words, and some words may repeat."
unique_words = find_unique_words(input_string)

print("Unique words in the string:")
for word in unique_words:
    print(word)

Unique words in the string:
repeat
is
some
may
sample
words
and
contains
string
it
this
a

In [90]:
#Q.46. Count the number of syllables in a string.
def count_syllables(string):
    vowels = "aeiouAEIOU"
    count = 0
    previous_char = ''

    for char in string:
        char = char.lower()
        if char in vowels and previous_char not in vowels:
            count += 1
        previous_char = char

    if string.endswith('e'):
        count -= 1  # Remove the silent 'e' at the end

    if count == 0:
        count = 1  # At least one syllable if no vowels found

    return count

# Example usage:
input_string = "Hello"
syllable_count = count_syllables(input_string)
print(f"The number of syllables in '{input_string}' is {syllable_count}")

The number of syllables in 'Hello' is 2

In [92]:
#Q.47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern for special characters
    pattern = r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\|]'
    
    # Use re.search to find a match
    if re.search(pattern, input_string):
        return True
    else:
        return False

# Example usage:
input_string = "Hello123"
contains_special = contains_special_characters(input_string)

if contains_special:
    print(f"The string '{input_string}' contains special characters.")
else:
    print(f"The string '{input_string}' does not contain any special characters.")

The string 'Hello123' does not contain any special characters.

In [93]:
#Q.48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if the specified index is within the valid range
    if n >= 0 and n < len(words):
        # Remove the nth word
        del words[n]
        # Join the remaining words back into a string
        result_string = ' '.join(words)
        return result_string
    else:
        # If n is out of range, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence to test the function."
n = 3  # Remove the 3rd word (indexing starts from 0)

result = remove_nth_word(input_string, n)
print("Modified string:")
print(result)

Modified string:
This is a sentence to test the function.

In [94]:
#Q.49. Insert a word at the nth position in a string.
def insert_word_at_nth_position(input_string, new_word, n):
    # Split the input string into words
    words = input_string.split()

    # Check if the specified index is within the valid range
    if n >= 0 and n <= len(words):
        # Insert the new word at the nth position
        words.insert(n, new_word)
        # Join the words back into a string
        result_string = ' '.join(words)
        return result_string
    else:
        # If n is out of range, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence to test the function."
new_word = "inserted"
n = 3  # Insert the new word at the 3rd position (indexing starts from 0)

result = insert_word_at_nth_position(input_string, new_word, n)
print("Modified string:")
print(result)

Modified string:
This is a inserted sample sentence to test the function.

In [95]:
#Q.50. Convert a CSV string to a list of lists.
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a StringIO object to simulate a file-like object from the CSV string
    csv_file = StringIO(csv_string)
    
    # Initialize a CSV reader
    reader = csv.reader(csv_file)
    
    # Use the reader to read the CSV data into a list of lists
    csv_list = [row for row in reader]
    
    return csv_list

# Example usage:
csv_string = "John,Doe,30\nJane,Smith,25\nBob,Johnson,35"
csv_list = csv_string_to_list(csv_string)

print("List of lists:")
for row in csv_list:
    print(row)

List of lists:
['John', 'Doe', '30']
['Jane', 'Smith', '25']
['Bob', 'Johnson', '35']

In [110]:
# LIST BASED
#Q.1. Create a list with integers from 1 to 10.
my_list = [x for x in range(1, 11)]

In [113]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
#Q.2. Find the length of a list without using the `len()` function.
def calculate_list_length(my_list):
    length = 0
    for _ in my_list:
        length += 1
    return length

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_length = calculate_list_length(my_list)

print(f"The length of the list is: {list_length}")

The length of the list is: 10

In [115]:
#Q.3. Append an element to the end of a list.
my_list = [1, 2, 3, 4, 5]  # Existing list
new_element = 6  # Element to append

my_list.append(new_element)  # Append the new element to the end of the list

print(my_list)

[1, 2, 3, 4, 5, 6]

In [116]:
#Q.4. Insert an element at a specific index in a list.
my_list = [1, 2, 3, 4, 5]  # Existing list
element_to_insert = 6  # Element to insert
index_to_insert = 2  # Index at which to insert the element

my_list.insert(index_to_insert, element_to_insert)  # Insert the element at the specified index

print(my_list)

[1, 2, 6, 3, 4, 5]

In [117]:
#Q.5. Remove an element from a list by its value.
my_list = [1, 2, 3, 4, 5]  # Existing list
element_to_remove = 3  # Element to remove

if element_to_remove in my_list:
    my_list.remove(element_to_remove)  # Remove the element by its value

print(my_list)

[1, 2, 4, 5]

In [118]:
#Q.6. Remove an element from a list by its index.
my_list = [1, 2, 3, 4, 5]  # Existing list
index_to_remove = 2  # Index of the element to remove

if 0 <= index_to_remove < len(my_list):
    removed_element = my_list.pop(index_to_remove)  # Remove the element at the specified index
    print(f"Removed element: {removed_element}")
else:
    print("Invalid index, element not removed.")

print(my_list)

Removed element: 3
[1, 2, 4, 5]

In [119]:
#Q.7. Check if an element exists in a list.
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

In [120]:
#Q.8. Find the index of the first occurrence of an element in a list.
def element_exists(my_list, element_to_check):
    return element_to_check in my_list

my_list = [1, 2, 3, 4, 5]
element_to_check = 3

if element_exists(my_list, element_to_check):
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

In [121]:
#Q.9. Count the occurrences of an element in a list.
my_list = [1, 2, 3, 4, 5, 3, 3]  # Existing list
element_to_count = 3  # Element to count

element_count = my_list.count(element_to_count)  # Count the occurrences of the element

print(f"The element {element_to_count} appears {element_count} times in the list.")

The element 3 appears 3 times in the list.

In [122]:
#Q.10. Reverse the order of elements in a list.
my_list = [1, 2, 3, 4, 5]  # Existing list

my_list.reverse()  # Reverse the list in-place

print(my_list)

[5, 4, 3, 2, 1]

In [123]:
#Q.11. Sort a list in ascending order.
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]  # Existing list

my_list.sort()  # Sort the list in ascending order

print(my_list)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [124]:
#Q.12. Sort a list in descending order.
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]  # Existing list

my_list.sort(reverse=True)  # Sort the list in descending order

print(my_list)

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [125]:
#Q.13. Create a list of even numbers from 1 to 20.
even_numbers = [x for x in range(2, 21, 2)]

# This list comprehension generates even numbers from 2 to 20 (inclusive).
# The range starts at 2 and goes up to 20, incrementing by 2 in each step.

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [126]:
#Q.14. Create a list of odd numbers from 1 to 20.
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

# This list comprehension generates odd numbers from 1 to 20.
# The range starts at 1 and goes up to 20, and the condition x % 2 != 0 ensures that only odd numbers are included.

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [127]:
#Q.15. Find the sum of all elements in a list.
my_list = [1, 2, 3, 4, 5]  # Replace this with your list

list_sum = sum(my_list)

print(f"The sum of all elements in the list is: {list_sum}")

The sum of all elements in the list is: 15

In [128]:
#Q.16. Find the maximum value in a list.
my_list = [4, 2, 9, 7, 5, 12, 1]  # Replace this with your list

max_value = max(my_list)

print(f"The maximum value in the list is: {max_value}")

The maximum value in the list is: 12

In [130]:
#Q.17. Find the minimum value in a list.
my_list = [4, 2, 9, 7, 5, 12, 1]  # Replace this with your list

min_value = min(my_list)

print(f"The minimum value in the list is: {min_value}")

The minimum value in the list is: 1

In [131]:
#Q.18. Create a list of squares of numbers from 1 to 10.
squares_list = [x**2 for x in range(1, 11)]

# This list comprehension generates the squares of numbers from 1 to 10.

print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [132]:
#Q.19. Create a list of random numbers.
import random

# Generate a list of 10 random integers between 1 and 100 (inclusive)
random_numbers = [random.randint(1, 100) for _ in range(10)]

print(random_numbers)

[47, 70, 94, 64, 77, 52, 66, 94, 9, 16]

In [133]:
#Q.20. Remove duplicates from a list.
my_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

[1, 2, 3, 4, 5, 6, 7]

In [1]:
#Q.21. Find the common elements between two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []

for item in list1:
    if item in list2:
        common_elements.append(item)

print(common_elements)

[3, 4, 5]

In [2]:
#Q.22. Find the difference between two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference1 = list(set(list1) - set(list2))
difference2 = list(set(list2) - set(list1))

print("Elements in list1 but not in list2:", difference1)
print("Elements in list2 but not in list1:", difference2)

Elements in list1 but not in list2: [1, 2]
Elements in list2 but not in list1: [6, 7]

In [3]:
#Q.23. Merge two lists.
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2

print(merged_list)

[1, 2, 3, 4, 5, 6]

In [4]:
#Q.24. Multiply all elements in a list by 2.
my_list = [1, 2, 3, 4, 5]

for i in range(len(my_list)):
    my_list[i] *= 2

print(my_list)

[2, 4, 6, 8, 10]

In [5]:
#Q.25. Filter out all even numbers from a list.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

filtered_list = [x for x in my_list if x % 2 != 0]

print(filtered_list)

[1, 3, 5, 7, 9]

In [6]:
#Q.26. Convert a list of strings to a list of integers.
string_list = ["1", "2", "3", "4", "5"]

int_list = []
for s in string_list:
    int_list.append(int(s))

print(int_list)

[1, 2, 3, 4, 5]

In [7]:
#Q.27. Convert a list of integers to a list of strings.
int_list = [1, 2, 3, 4, 5]

string_list = []
for num in int_list:
    string_list.append(str(num))

print(string_list)

['1', '2', '3', '4', '5']

In [8]:
#Q.28. Flatten a nested list.
def flatten_list(nested_list):
    flattened = []
    for item in nested_list:
        if isinstance(item, list):
            flattened.extend(flatten_list(item))
        else:
            flattened.append(item)
    return flattened

nested_list = [1, [2, [3, 4], 5], 6, [7, 8]]

flattened_list = flatten_list(nested_list)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
#Q.29. Create a list of the first 10 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_list = []
    a, b = 0, 1
    for _ in range(n):
        fibonacci_list.append(a)
        a, b = b, a + b
    return fibonacci_list

n = 10  # Number of Fibonacci numbers to generate
fibonacci_numbers = generate_fibonacci(n)

print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [10]:
#Q.30. Check if a list is sorted.
def is_sorted(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

my_list = [1, 2, 3, 4, 5]

if is_sorted(my_list):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

In [11]:
#Q.31. Rotate a list to the left by `n` positions.
def rotate_left(lst, n):
    n = n % len(lst)  # Ensure n is within the length of the list
    return lst[n:] + lst[:n]

my_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate left

rotated_list = rotate_left(my_list, n)

print(rotated_list)

[3, 4, 5, 1, 2]

In [12]:
#Q.32. Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    n = n % len(lst)  # Ensure n is within the length of the list
    return lst[-n:] + lst[:-n]

my_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate right

rotated_list = rotate_right(my_list, n)

print(rotated_list)

[4, 5, 1, 2, 3]

In [13]:
#Q.33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

primes = [num for num in range(2, 51) if is_prime(num)]

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [14]:
#Q.34. Split a list into chunks of size `n`.
def split_list(lst, chunk_size):
    for i in range(0, len(lst), chunk_size):
        yield lst[i:i + chunk_size]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

chunked_list = list(split_list(my_list, chunk_size))

print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [15]:
#Q.35. Find the second largest number in a list.
def second_largest(lst):
    if len(lst) < 2:
        return "List must have at least two elements"
    
    largest = second = float('-inf')  # Initialize to negative infinity
    
    for num in lst:
        if num > largest:
            second = largest
            largest = num
        elif num > second and num != largest:
            second = num
    
    if second == float('-inf'):
        return "There is no second largest element"
    return second

my_list = [10, 5, 20, 8, 15]

result = second_largest(my_list)

print("The second largest number is:", result)

The second largest number is: 15

In [16]:
#Q.36. Replace every element in a list with its square.
my_list = [1, 2, 3, 4, 5]

for i in range(len(my_list)):
    my_list[i] = my_list[i] ** 2

print(my_list)

[1, 4, 9, 16, 25]

In [17]:
#Q.37. Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ['apple', 'banana', 'cherry', 'date']

my_dict = {value: index for index, value in enumerate(my_list)}

print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [18]:
#Q.38. Shuffle the elements of a list randomly.
import random

my_list = [1, 2, 3, 4, 5]

random.shuffle(my_list)

print(my_list)

[1, 5, 4, 2, 3]

In [19]:
#Q.39. Create a list of the first 10 factorial numbers.
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

factorial_numbers = [factorial(n) for n in range(1, 11)]

print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [20]:
#Q.40. Check if two lists have at least one element in common.
def have_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

if have_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [22]:
#Q.41. Remove all elements from a list.
my_list = [1, 2, 3, 4, 5]

my_list.clear()

print(my_list)

[]

In [23]:
#Q.42. Replace negative numbers in a list with 0.
my_list = [1, -2, 3, -4, 5]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print(my_list)

[1, 0, 3, 0, 5]

In [24]:
#Q.43. Convert a string into a list of words.
text = "This is a sample sentence."

word_list = text.split()

print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

In [25]:
#Q.44. Convert a list of words into a string.
word_list = ["This", "is", "a", "list", "of", "words"]

# Use the join() method to concatenate the words into a string
text = " ".join(word_list)

print(text)

This is a list of words

In [26]:
#Q.45. Create a list of the first `n` powers of 2.
n = 5  # Replace with the desired number of powers
powers_of_2 = [2 ** i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16]

In [27]:
#Q.46. Find the longest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

longest_string = max(string_list, key=len)

print("The longest string is:", longest_string)

The longest string is: elderberry

In [28]:
#Q.47. Find the shortest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

shortest_string = min(string_list, key=len)

print("The shortest string is:", shortest_string)

The shortest string is: date

In [29]:
#Q.48. Create a list of the first `n` triangular numbers.
n = 5  # Replace with the desired number of triangular numbers
triangular_numbers = []

for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers.append(triangular_number)

print(triangular_numbers)

[1, 3, 6, 10, 15]

In [31]:
#Q.49. Check if a list contains another list as a subsequence.
def is_subsequence(subsequence, larger_list):
    sub_len = len(subsequence)
    i = 0  # Index for the larger list

    for item in larger_list:
        if item == subsequence[i]:
            i += 1
            if i == sub_len:
                return True

    return False

# Example usage:
larger_list = [1, 2, 3, 4, 5, 6]
subsequence = [2, 4, 6]

if is_subsequence(subsequence, larger_list):
    print("The subsequence is present in the larger list.")
else:
    print("The subsequence is not present in the larger list.")

The subsequence is present in the larger list.

In [32]:
#Q.50. Swap two elements in a list by their indices.
def swap_elements_by_indices(my_list, index1, index2):
    if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
        my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

# Example usage:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

print("Original List:", my_list)
swap_elements_by_indices(my_list, index1, index2)
print("List after swapping elements at indices", index1, "and", index2, ":", my_list)

Original List: [1, 2, 3, 4, 5]
List after swapping elements at indices 1 and 3 : [1, 4, 3, 2, 5]

In [33]:
# TUPLE BASED
#Q.1. Create a tuple with integers from 1 to 5.
my_tuple = (1, 2, 3, 4, 5)

In [34]:
my_tuple

(1, 2, 3, 4, 5)

In [35]:
#Q.2. Access the third element of a tuple.
my_tuple = (1, 2, 3, 4, 5)

third_element = my_tuple[2]

print("The third element of the tuple is:", third_element)

The third element of the tuple is: 3

In [36]:
#Q.3. Find the length of a tuple without using the `len()` function.
my_tuple = (1, 2, 3, 4, 5)
length = 0

for _ in my_tuple:
    length += 1

print("The length of the tuple is:", length)

The length of the tuple is: 5

In [37]:
#Q.4. Count the occurrences of an element in a tuple.
my_tuple = (1, 2, 2, 3, 4, 2, 5)

# Count the occurrences of the element 2
count = my_tuple.count(2)

print("The element 2 appears", count, "times in the tuple.")

The element 2 appears 3 times in the tuple.

In [38]:
#Q.5. Find the index of the first occurrence of an element in a tuple.
my_tuple = (1, 2, 3, 4, 5, 2)

# Find the index of the first occurrence of the element 2
index = my_tuple.index(2)

print("The index of the first occurrence of 2 is:", index)

The index of the first occurrence of 2 is: 1

In [39]:
#Q.6. Check if an element exists in a tuple.
my_tuple = (1, 2, 3, 4, 5)

element_to_check = 3

if element_to_check in my_tuple:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

The element 3 exists in the tuple.

In [40]:
#Q.7. Convert a tuple to a list.
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

In [41]:
#Q.8. Convert a list to a tuple.
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple
my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

In [42]:
#Q.9. Unpack the elements of a tuple into variables.
my_tuple = (1, 2, 3)

# Unpack the elements into variables
a, b, c = my_tuple

print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

In [43]:
#Q.10. Create a tuple of even numbers from 1 to 10.
even_numbers_tuple = tuple(x for x in range(2, 11, 2))

print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [44]:
#Q.11. Create a tuple of odd numbers from 1 to 10.
odd_numbers_tuple = tuple(x for x in range(1, 11) if x % 2 != 0)

print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [45]:
#Q.12. Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Concatenated Tuple:", concatenated_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Concatenated Tuple: (1, 2, 3, 4, 5, 6)

In [46]:
#Q.13. Repeat a tuple three times.
my_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = my_tuple * 3

print("Original Tuple:", my_tuple)
print("Repeated Tuple:", repeated_tuple)

Original Tuple: (1, 2, 3)
Repeated Tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [47]:
#Q.14. Check if a tuple is empty.
my_tuple = ()  # An empty tuple

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [48]:
#Q.15. Create a nested tuple.
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [49]:
#Q.16. Access the first element of a nested tuple.
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

# Access the first element of the nested tuple
first_element = nested_tuple[0][0]

print("The first element of the nested tuple is:", first_element)

The first element of the nested tuple is: 1

In [50]:
#Q.17. Create a tuple with a single element.
single_element_tuple = (42,)  # Note the comma after the element

print(single_element_tuple)

(42,)

In [51]:
#Q.18. Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Compare tuple1 and tuple2
if tuple1 == tuple2:
    print("tuple1 is equal to tuple2")
else:
    print("tuple1 is not equal to tuple2")

# Compare tuple1 and tuple3
if tuple1 != tuple3:
    print("tuple1 is not equal to tuple3")
else:
    print("tuple1 is equal to tuple3")

# Compare tuple1 and tuple3 element-wise
for i in range(len(tuple1)):
    if tuple1[i] < tuple3[i]:
        print(f"tuple1 is less than tuple3 at index {i}")
    elif tuple1[i] > tuple3[i]:
        print(f"tuple1 is greater than tuple3 at index {i}")
    else:
        print(f"tuple1 and tuple3 are equal at index {i}")

tuple1 is equal to tuple2
tuple1 is not equal to tuple3
tuple1 is less than tuple3 at index 0
tuple1 is less than tuple3 at index 1
tuple1 is less than tuple3 at index 2

In [54]:
#Q.19. Delete a tuple.
my_tuple = (1, 2, 3)

# Delete the tuple
del my_tuple

In [55]:
#Q.20. Slice a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Slice the tuple to get a subset
subset = my_tuple[1:4]

print("Original Tuple:", my_tuple)
print("Sliced Subset:", subset)

Original Tuple: (1, 2, 3, 4, 5)
Sliced Subset: (2, 3, 4)

In [56]:
#Q.21. Find the maximum value in a tuple.
my_tuple = (10, 25, 5, 30, 15)

# Find the maximum value in the tuple
maximum_value = max(my_tuple)

print("Tuple:", my_tuple)
print("Maximum Value:", maximum_value)

Tuple: (10, 25, 5, 30, 15)
Maximum Value: 30

In [57]:
#Q.22. Find the minimum value in a tuple.
my_tuple = (10, 25, 5, 30, 15)

# Find the minimum value in the tuple
minimum_value = min(my_tuple)

print("Tuple:", my_tuple)
print("Minimum Value:", minimum_value)

Tuple: (10, 25, 5, 30, 15)
Minimum Value: 5

In [58]:
#Q.23. Convert a string to a tuple of characters.
my_string = "Hello, World!"

# Convert the string to a tuple of characters using a loop
char_tuple = tuple(char for char in my_string)

print("String:", my_string)
print("Tuple of Characters:", char_tuple)

String: Hello, World!
Tuple of Characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [59]:
#Q.24. Convert a tuple of characters to a string.
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple of characters to a string using join()
resulting_string = ''.join(char_tuple)

print("Tuple of Characters:", char_tuple)
print("Resulting String:", resulting_string)

Tuple of Characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')
Resulting String: Hello, World!

In [60]:
#Q.25. Create a tuple from multiple data types.
mixed_tuple = (1, "hello", 3.14, True)

print(mixed_tuple)

(1, 'hello', 3.14, True)

In [61]:
#Q.26. Check if two tuples are identical.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (3, 2, 1)

# Check if tuple1 is identical to tuple2
if tuple1 == tuple2:
    print("tuple1 and tuple2 are identical.")
else:
    print("tuple1 and tuple2 are not identical.")

# Check if tuple1 is identical to tuple3
if tuple1 == tuple3:
    print("tuple1 and tuple3 are identical.")
else:
    print("tuple1 and tuple3 are not identical.")

tuple1 and tuple2 are identical.
tuple1 and tuple3 are not identical.

In [62]:
#Q.27. Sort the elements of a tuple.
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)

# Create a sorted list from the tuple's elements
sorted_list = sorted(my_tuple)

# Convert the sorted list back to a tuple
sorted_tuple = tuple(sorted_list)

print("Original Tuple:", my_tuple)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
Sorted Tuple: (1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

In [63]:
#Q.28. Convert a tuple of integers to a tuple of strings.
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
tuple_of_strings = tuple(str(x) for x in tuple_of_integers)

print("Original Tuple (integers):", tuple_of_integers)
print("Tuple of Strings:", tuple_of_strings)

Original Tuple (integers): (1, 2, 3, 4, 5)
Tuple of Strings: ('1', '2', '3', '4', '5')

In [64]:
#Q.29. Convert a tuple of strings to a tuple of integers.
tuple_of_strings = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
tuple_of_integers = tuple(int(x) for x in tuple_of_strings)

print("Original Tuple (strings):", tuple_of_strings)
print("Tuple of Integers:", tuple_of_integers)

Original Tuple (strings): ('1', '2', '3', '4', '5')
Tuple of Integers: (1, 2, 3, 4, 5)

In [65]:
#Q.30. Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged Tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Merged Tuple: (1, 2, 3, 4, 5, 6)

In [66]:
#Q.31. Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flattened = ()
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened += flatten_tuple(item)
        else:
            flattened += (item,)
    return flattened

# Example nested tuple
nested_tuple = (1, (2, 3), (4, (5, 6)))

# Flatten the nested tuple
flattened_tuple = flatten_tuple(nested_tuple)

print("Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Nested Tuple: (1, (2, 3), (4, (5, 6)))
Flattened Tuple: (1, 2, 3, 4, 5, 6)

In [67]:
#Q.32. Create a tuple of the first 5 prime numbers.
# Manually create a tuple of the first 5 prime numbers
prime_numbers = (2, 3, 5, 7, 11)

print("Tuple of the first 5 prime numbers:", prime_numbers)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [68]:
#Q.33. Check if a tuple is a palindrome.
def is_palindrome(sequence):
    return sequence == sequence[::-1]

my_tuple = (1, 2, 3, 2, 1)

# Convert the tuple to a list and check if it's a palindrome
is_palindrome_tuple = is_palindrome(list(my_tuple))

print("Tuple:", my_tuple)
print("Is it a Palindrome?", is_palindrome_tuple)

Tuple: (1, 2, 3, 2, 1)
Is it a Palindrome? True

In [69]:
#Q.34. Create a tuple of squares of numbers from 1 to 5.
# Create a tuple of squares of numbers from 1 to 5
squares_tuple = tuple(x ** 2 for x in range(1, 6))

print("Tuple of Squares:", squares_tuple)

Tuple of Squares: (1, 4, 9, 16, 25)

In [70]:
#Q.35. Filter out all even numbers from a tuple.
# Original tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Create a new tuple with only odd numbers
odd_numbers_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print("Original Tuple:", original_tuple)
print("Tuple with Odd Numbers:", odd_numbers_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple with Odd Numbers: (1, 3, 5, 7, 9)

In [71]:
#Q.36. Multiply all elements in a tuple by 2.
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 and create a new tuple
doubled_tuple = tuple(x * 2 for x in original_tuple)

print("Original Tuple:", original_tuple)
print("Doubled Tuple:", doubled_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Doubled Tuple: (2, 4, 6, 8, 10)

In [72]:
#Q.37. Create a tuple of random numbers.
import random

# Create a tuple of 5 random integers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

print("Random Tuple of Integers:", random_tuple)

Random Tuple of Integers: (62, 97, 83, 35, 67)

In [74]:
#Q.38. Check if a tuple is sorted.
def is_sorted_tuple(t):
    return t == tuple(sorted(t))

# Example tuples
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted_tuple(sorted_tuple)
is_sorted2 = is_sorted_tuple(unsorted_tuple)

print("Sorted Tuple:", sorted_tuple)
print("Is it Sorted?", is_sorted1)

print("Unsorted Tuple:", unsorted_tuple)
print("Is it Sorted?", is_sorted2)

Sorted Tuple: (1, 2, 3, 4, 5)
Is it Sorted? True
Unsorted Tuple: (5, 3, 1, 4, 2)
Is it Sorted? False

In [75]:
#Q.39. Rotate a tuple to the left by `n` positions.
def rotate_left_tuple(input_tuple, n):
    n = n % len(input_tuple)  # Ensure n is within the tuple's length
    rotated_tuple = input_tuple[n:] + input_tuple[:n]
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the left by 2 positions
rotated_tuple = rotate_left_tuple(my_tuple, 2)

print("Original Tuple:", my_tuple)
print("Rotated Tuple:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple: (3, 4, 5, 1, 2)

In [76]:
#Q.40. Rotate a tuple to the right by `n` positions.
def rotate_right_tuple(input_tuple, n):
    n = n % len(input_tuple)  # Ensure n is within the tuple's length
    rotated_tuple = input_tuple[-n:] + input_tuple[:-n]
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the right by 2 positions
rotated_tuple = rotate_right_tuple(my_tuple, 2)

print("Original Tuple:", my_tuple)
print("Rotated Tuple:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple: (4, 5, 1, 2, 3)

In [77]:
#Q.41. Create a tuple of the first 5 Fibonacci numbers.
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_sequence = [0, 1]
    while len(fibonacci_sequence) < n:
        next_fibonacci = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_fibonacci)
    return tuple(fibonacci_sequence)

# Create a tuple of the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

print("Tuple of the first 5 Fibonacci numbers:", first_5_fibonacci)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [78]:
#Q.42. Create a tuple from user input.
# Ask the user to enter elements separated by commas
user_input = input("Enter elements separated by commas: ")

# Split the user input by commas and convert it into a tuple
user_tuple = tuple(user_input.split(','))

print("Tuple created from user input:", user_tuple)

Enter elements separated by commas:  1,2,3,4,5

Tuple created from user input: ('1', '2', '3', '4', '5')

In [79]:
#Q.43. Swap two elements in a tuple.
def swap_elements(tup, idx1, idx2):
    # Convert the tuple to a list
    tup_list = list(tup)
    
    # Check if the indices are valid
    if 0 <= idx1 < len(tup) and 0 <= idx2 < len(tup):
        # Swap the elements at the specified indices
        tup_list[idx1], tup_list[idx2] = tup_list[idx2], tup_list[idx1]
        
        # Convert the list back to a tuple
        new_tup = tuple(tup_list)
        return new_tup
    else:
        # Invalid indices, return the original tuple
        return tup

# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
swapped_tuple = swap_elements(my_tuple, 1, 3)

print("Original Tuple:", my_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

In [80]:
#Q.44. Reverse the elements of a tuple.
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements of the tuple
reversed_tuple = my_tuple[::-1]

print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [81]:
#Q.45. Create a tuple of the first `n` powers of 2.
n = 5  # Replace with the desired number of powers of 2

# Create a tuple of the first n powers of 2
powers_of_2_tuple = tuple(2 ** i for i in range(n))

print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [82]:
#Q.46. Find the longest string in a tuple of strings.
# Example tuple of strings
string_tuple = ("apple", "banana", "cherry", "date", "fig")

# Initialize variables to store the longest string and its length
longest_string = ""
max_length = 0

# Iterate through the tuple
for string in string_tuple:
    if len(string) > max_length:
        max_length = len(string)
        longest_string = string

print("Tuple of Strings:", string_tuple)
print("Longest String:", longest_string)

Tuple of Strings: ('apple', 'banana', 'cherry', 'date', 'fig')
Longest String: banana

In [83]:
#Q.47. Find the shortest string in a tuple of strings.
# Example tuple of strings
string_tuple = ("apple", "banana", "cherry", "date", "fig")

# Initialize variables to store the shortest string and its length
shortest_string = ""
min_length = float('inf')  # Initialize with a large value

# Iterate through the tuple
for string in string_tuple:
    if len(string) < min_length:
        min_length = len(string)
        shortest_string = string

print("Tuple of Strings:", string_tuple)
print("Shortest String:", shortest_string)

Tuple of Strings: ('apple', 'banana', 'cherry', 'date', 'fig')
Shortest String: fig

In [84]:
#Q.48. Create a tuple of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2
        triangular_numbers.append(triangular_number)
    return tuple(triangular_numbers)

# Specify the number of triangular numbers you want
n = 5

# Create a tuple of the first n triangular numbers
triangular_numbers_tuple = generate_triangular_numbers(n)

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [85]:
#Q.49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, subsequence_tuple):
    # Iterate through the main tuple
    for i in range(len(main_tuple) - len(subsequence_tuple) + 1):
        if main_tuple[i:i+len(subsequence_tuple)] == subsequence_tuple:
            return True
    return False

# Example tuples
main_tuple = (1, 2, 3, 4, 5, 6, 7)
subsequence_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
result = contains_subsequence(main_tuple, subsequence_tuple)

print("Main Tuple:", main_tuple)
print("Subsequence Tuple:", subsequence_tuple)

if result:
    print("Main Tuple contains Subsequence Tuple.")
else:
    print("Main Tuple does not contain Subsequence Tuple.")

Main Tuple: (1, 2, 3, 4, 5, 6, 7)
Subsequence Tuple: (3, 4, 5)
Main Tuple contains Subsequence Tuple.

In [86]:
#Q.50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10  # Replace with the desired length of the tuple

# Create a tuple of alternating 1s and 0s of length n
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

print("Tuple of alternating 1s and 0s of length", n, ":", alternating_tuple)

Tuple of alternating 1s and 0s of length 10 : (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [87]:
# SET BASED
#Q.1. Create a set with integers from 1 to 5.
my_set = {1, 2, 3, 4, 5}

print(my_set)

{1, 2, 3, 4, 5}

In [88]:
#Q.2. Add an element to a set.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)

print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 5, 6}

In [89]:
#Q.3. Remove an element from a set.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set using the remove() method
my_set.remove(3)

print("Updated Set:", my_set)

Updated Set: {1, 2, 4, 5}

In [90]:
#Q.4. Check if an element exists in a set.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set using the 'in' keyword
element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [91]:
#Q.5. Find the length of a set without using the `len()` function.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements
count = 0

# Iterate through the set and count the elements
for element in my_set:
    count += 1

print("Length of the set:", count)

Length of the set: 5

In [92]:
#Q.6. Clear all elements from a set.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

print("Updated Set:", my_set)

Updated Set: set()

In [93]:
#Q.7. Create a set of even numbers from 1 to 10.
# Create a set of even numbers from 1 to 10 using a set comprehension
even_set = {x for x in range(1, 11) if x % 2 == 0}

print("Set of even numbers:", even_set)

Set of even numbers: {2, 4, 6, 8, 10}

In [94]:
#Q.8. Create a set of odd numbers from 1 to 10.
# Create a set of odd numbers from 1 to 10 using a set comprehension
odd_set = {x for x in range(1, 11) if x % 2 != 0}

print("Set of odd numbers:", odd_set)

Set of odd numbers: {1, 3, 5, 7, 9}

In [95]:
#Q.9. Find the union of two sets.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the union() method
union_set = set1.union(set2)

print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}

In [96]:
#Q.10. Find the intersection of two sets.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the intersection of the two sets using the intersection() method
intersection_set = set1.intersection(set2)

print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {4, 5}

In [97]:
#Q.11. Find the difference between two sets.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the difference between set1 and set2 using the difference() method
difference_set = set1.difference(set2)

print("Difference between set1 and set2:", difference_set)

Difference between set1 and set2: {1, 2, 3}

In [98]:
#Q.12. Check if a set is a subset of another set.
# Create two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2 using the issubset() method
is_subset = set1.issubset(set2)

if is_subset:
    print("set1 is a subset of set2.")
else:
    print("set1 is not a subset of set2.")

set1 is a subset of set2.

In [99]:
#Q.13. Check if a set is a superset of another set.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2 using the issuperset() method
is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

In [100]:
#Q.14. Create a set from a list.
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list using the set() constructor
my_set = set(my_list)

print("Set created from list:", my_set)

Set created from list: {1, 2, 3, 4, 5}

In [101]:
#Q.15. Convert a set to a list.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the list() constructor
my_list = list(my_set)

print("List created from set:", my_list)

List created from set: [1, 2, 3, 4, 5]

In [102]:
#Q.16. Remove a random element from a set.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set using the pop() method
removed_element = my_set.pop()

print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [103]:
#Q.17. Pop an element from a set.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

In [104]:
#Q.18. Check if two sets have no elements in common.
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets have no elements in common using the isdisjoint() method
have_no_common_elements = set1.isdisjoint(set2)

if have_no_common_elements:
    print("The sets have no elements in common.")
else:
    print("The sets have some elements in common.")

The sets have no elements in common.

In [105]:
#Q.19. Find the symmetric difference between two sets.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference between set1 and set2 using the symmetric_difference() method
symmetric_diff_set = set1.symmetric_difference(set2)

print("Symmetric difference between set1 and set2:", symmetric_diff_set)

Symmetric difference between set1 and set2: {1, 2, 3, 6, 7, 8}

In [106]:
#Q.20. Update a set with elements from another set.
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using the update() method
set1.update(set2)

print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [107]:
#Q.21. Create a set of the first 5 prime numbers.
# Create a set of the first 5 prime numbers
prime_set = {2, 3, 5, 7, 11}

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [108]:
#Q.22. Check if two sets are identical.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}  # Identical to set1

# Check if set1 and set2 are identical using the == operator
are_identical = set1 == set2

if are_identical:
    print("set1 and set2 are identical.")
else:
    print("set1 and set2 are not identical.")

set1 and set2 are identical.

In [109]:
#Q.23. Create a frozen set.
# Create a frozen set
frozen_set = frozenset([1, 2, 3, 4, 5])

print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

In [110]:
#Q.24. Check if a set is disjoint with another set.
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 are disjoint using the isdisjoint() method
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("set1 and set2 are disjoint (they have no common elements).")
else:
    print("set1 and set2 are not disjoint (they have common elements).")

set1 and set2 are disjoint (they have no common elements).

In [111]:
#Q.25. Create a set of squares of numbers from 1 to 5.
# Create a set of squares of numbers from 1 to 5
square_set = {x**2 for x in range(1, 6)}

print("Set of squares:", square_set)

Set of squares: {1, 4, 9, 16, 25}

In [112]:
#Q.26. Filter out all even numbers from a set.
# Create a set with some numbers
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Use a set comprehension to filter out even numbers
filtered_set = {x for x in my_set if x % 2 != 0}

print("Filtered set (no even numbers):", filtered_set)

Filtered set (no even numbers): {1, 3, 5, 7, 9}

In [113]:
#Q.27. Multiply all elements in a set by 2.
# Create a set with some numbers
my_set = {1, 2, 3, 4, 5}

# Use a set comprehension to create a new set with elements multiplied by 2
multiplied_set = {x * 2 for x in my_set}

print("New set with elements multiplied by 2:", multiplied_set)

New set with elements multiplied by 2: {2, 4, 6, 8, 10}

In [114]:
#Q.28. Create a set of random numbers.
import random

# Create an empty set to store random numbers
random_set = set()

# Generate and add random numbers to the set
for _ in range(10):  # Generate 10 random numbers, you can adjust the number as needed
    random_number = random.randint(1, 100)  # Generates a random integer between 1 and 100 (adjust the range as needed)
    random_set.add(random_number)

print("Set of random numbers:", random_set)

Set of random numbers: {99, 14, 15, 63, 93, 24, 88, 92, 29, 31}

In [115]:
#Q.29. Check if a set is empty.
# Create an empty set
empty_set = set()

# Check if the set is empty using bool() and not
if not bool(empty_set):
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [116]:
#Q.30. Create a nested set (hint: use frozenset).
# Create sets to be nested (as frozensets)
set1 = frozenset({1, 2, 3})
set2 = frozenset({4, 5, 6})

# Create a set to hold the nested sets
nested_set = {set1, set2}

print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [117]:
#Q.31. Remove an element from a set using the discard method.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set using the discard() method
my_set.discard(3)

print("Updated set:", my_set)

Updated set: {1, 2, 4, 5}

In [118]:
#Q.32. Compare two sets.
set1 = {1, 2, 3}
set2 = {3, 2, 1}

are_equal = set1 == set2  # True if the sets contain the same elements

if are_equal:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

In [119]:
#Q.33. Create a set from a string.
# Create an empty set
my_set = set()

# A string from which to create the set
my_string = "Hello, World!"

# Iterate through the characters in the string and add them to the set
for char in my_string:
    my_set.add(char)

print("Set from string:", my_set)

Set from string: {'r', ',', 'W', 'd', 'o', ' ', 'l', 'H', 'e', '!'}

In [120]:
#Q.34. Convert a set of strings to a set of integers.
# Create a set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers using a set comprehension
integer_set = {int(s) for s in string_set}

print("Set of integers:", integer_set)

Set of integers: {1, 2, 3, 4, 5}

In [121]:
#Q.35. Convert a set of integers to a set of strings.
# Create a set of integers
integer_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings using a set comprehension
string_set = {str(i) for i in integer_set}

print("Set of strings:", string_set)

Set of strings: {'5', '2', '1', '4', '3'}

In [122]:
#Q.36. Create a set from a tuple.
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a set
my_set = set(my_tuple)

# Now, 'my_set' contains the unique elements from 'my_tuple'
print(my_set)

{1, 2, 3, 4, 5}

In [123]:
#Q.37. Convert a set to a tuple.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

# Now, 'my_tuple' contains the elements from 'my_set' as a tuple
print(my_tuple)

(1, 2, 3, 4, 5)

In [124]:
#Q.38. Find the maximum value in a set.
# Create a set
my_set = {12, 45, 67, 23, 56, 89}

# Find the maximum value in the set
max_value = max(my_set)

# Print the maximum value
print("Maximum value in the set:", max_value)

Maximum value in the set: 89

In [125]:
#Q.39. Find the minimum value in a set.
# Create a set
my_set = {12, 45, 67, 23, 56, 89}

# Find the minimum value in the set
min_value = min(my_set)

# Print the minimum value
print("Minimum value in the set:", min_value)

Minimum value in the set: 12

In [126]:
#Q.40. Create a set from user input.
# Initialize an empty set
my_set = set()

while True:
    # Ask the user for input
    user_input = input("Enter a value (or 'done' to stop): ")

    # Check if the user wants to stop
    if user_input.lower() == 'done':
        break

    # Add the input to the set
    my_set.add(user_input)

# Print the final set
print("The set created from user input:", my_set)

Enter a value (or 'done' to stop):  10
Enter a value (or 'done' to stop):  20
Enter a value (or 'done' to stop):  done

The set created from user input: {'20', '10'}

In [127]:
#Q.41. Check if the intersection of two sets is empty.
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Check if the intersection is empty
if set1.isdisjoint(set2):
    print("The sets have no elements in common (intersection is empty).")
else:
    print("The sets have elements in common.")

The sets have elements in common.

In [128]:
#Q.42. Create a set of the first 5 Fibonacci numbers.
# Initialize an empty set
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Add the first 5 Fibonacci numbers to the set
for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [129]:
#Q.43. Remove duplicates from a list using sets.
# Create a list with duplicate elements
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting to a set and back to a list
unique_list = list(set(my_list))

# Print the list with duplicates removed
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

In [130]:
#Q.44. Check if two sets have the same elements, regardless of their count.
# Create two sets with the same elements in different orders and counts
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets have the same elements (order and count don't matter)
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [131]:
#Q.45. Create a set of the first `n` powers of 2.
# Function to create a set of the first n powers of 2
def powers_of_2(n):
    power_set = set()
    for i in range(n):
        power_set.add(2 ** i)
    return power_set

# Define the number of powers you want (e.g., the first 5 powers)
n = 5

# Create the set of the first n powers of 2
power_set = powers_of_2(n)

# Print the set
print("Set of the first", n, "powers of 2:", power_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [132]:
#Q.46. Find the common elements between a set and a list.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Create a list
my_list = [3, 4, 5, 6, 7]

# Find the common elements between the set and the list
common_elements = my_set.intersection(my_list)

# Convert the result to a list if needed
common_elements_list = list(common_elements)

# Print the common elements
print("Common elements:", common_elements_list)

Common elements: [3, 4, 5]

In [133]:
#Q.47. Create a set of the first `n` triangular numbers.
# Function to create a set of the first n triangular numbers
def triangular_numbers(n):
    triangular_set = set()
    sum = 0
    for i in range(1, n + 1):
        sum += i
        triangular_set.add(sum)
    return triangular_set

# Define the number of triangular numbers you want (e.g., the first 5)
n = 5

# Create the set of the first n triangular numbers
triangular_set = triangular_numbers(n)

# Print the set
print("Set of the first", n, "triangular numbers:", triangular_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [134]:
#Q.48. Check if a set contains another set as a subset.
# Create two sets
set1 = {1, 2, 3}
set2 = {2, 3}

# Check if set2 is a subset of set1
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [135]:
#Q.49. Create a set of alternating 1s and 0s of length `n`.
# Function to create a set of alternating 1s and 0s of length n
def alternating_set(n):
    alt_set = set()
    for i in range(n):
        if i % 2 == 0:
            alt_set.add(0)
        else:
            alt_set.add(1)
    return alt_set

# Define the length of the alternating set
n = 10  # You can change this to the desired length

# Create the set of alternating 1s and 0s
alt_set = alternating_set(n)

# Print the set
print("Set of alternating 1s and 0s of length", n, ":", alt_set)

Set of alternating 1s and 0s of length 10 : {0, 1}

In [136]:
#Q.50. Merge multiple sets into one.
# Create three sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the union() method
merged_set = set1.union(set2, set3)

# Print the merged set
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}

In [1]:
#end